/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /**
  * Global styles for defaults
  *
  */

  .hidden {
    display: none;
  }

 .slider-container {
   display: none;
 }

 .slider-container.slider_one_container {
   display: block;
 }

 .slide_image_preview {
   max-width: 200px;
   max-height: 200px;
   overflow: hidden;
 }

a, a:focus {
  outline: none;
}

.image-controls {
  display: none;
  position: absolute;
  color: #333333;
  background: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}

.remove-image-button {
  top: 10px;
  left: 10px;
}

.edit-image-button {
  top: 10px;
  left: 30px;
}

.image-preview-container {
  position: relative;
}

.image-preview-container:hover .image-controls {
  display: block;
}
